
.exerciseHeader, .exerciseFooter, .exerciseMain {
display: flex;
margin: 0px 10px 10px 10px;
}

.exerciseMain {
    gap: 10px;

}

.exerciseMainContent {
    width: 70%;
}

.exerciseMainAside {
    width: 30%;
}